.home-menu-container {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: fit-content;
    right: 20px;
}
.home-menu-container:hover {
    height: 100%;
    width: fit-content
}

.dots-container, .links {
    /* removed position, top, and transform properties */
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute; /* Use absolute positioning within the container */
    opacity: 0;
    transition: opacity 0.5s ease;
}

.links {
    justify-content: space-around;
    height: 100%;
}

.dots-container {
    border: 1px #67deff solid;
    border-radius: 25px;
    padding: 10px;
}
  
.dot {
    width: 6px;
    height: 6px;
    background-color: #1fccfc;
    border-radius: 50%;
}
  
.hidden {
    display: none;
}
  
.custom-link {
    text-decoration: none;
    color: #67deff;
    transition: opacity 0.5s ease;
    margin-top: 10px; /* adjusted margin values */
    margin-bottom: 10px;
}
  
.custom-link:hover {
    color: #1fccfc;
}
