.loader-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: center;
}

.loader-container p {
    color: white;
}

.pl {
    width: 8em;
    height: 8em;
    margin-right: 10px;
}

.loading-text {
    font-size: 18px;
    color: white;
}

.pl .pl__ring {
    animation: ringRotate 4s ease-in-out infinite, ringDash 2s ease-in-out infinite;
    transform-box: fill-box;
    transform-origin: 50% 50%;
}

@keyframes ringRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes ringDash {
    0% {
        stroke-dashoffset: 377;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 377;
    }
}
